REPO_ROOT=$(git rev-parse --show-toplevel)
SCRIPT_PATH=$REPO_ROOT/scripts
alias start-work="$SCRIPT_PATH/start-work.sh"
alias finish-work="$SCRIPT_PATH/finish-work.sh"
alias release-candidate="$SCRIPT_PATH/release-candidate.sh"
alias bounce="$SCRIPT_PATH/bounce.sh"